/*
    Author: Michal Sukupčák <sukupcak@webdesign-studio.sk>
*/

/* -------------------------------------------------------------------------- */
/* About component */
ng-view .aboutComponent {
    line-height: 1.6em;
    margin: auto;
    max-width: 992px;
    padding: 10px 0 0 0;
}

/* Horizontal line */
ng-view .aboutComponent hr { border: none; border-top: 1px solid #CCC; margin: 30px 0; padding: 0; }

/* Block */
ng-view .aboutComponent div.block { margin: 20px 0; padding: 0 20px 0 20px; }
ng-view .aboutComponent div.block.justify { text-align: justify; }

/* Heading 2 */
ng-view .aboutComponent div.block h2 { margin: 0 0 20px 0; padding: 0; }

/* Blockquote */
ng-view .aboutComponent div.block blockquote {
    border-left: 10px solid #E5E5E5;
    color: #999;
    font-size: .8em;
    margin: 0;
    padding: 0 0 0 10px;
}
ng-view .aboutComponent div.block blockquote span { color: #444; }

/* Link */
ng-view .aboutComponent div.block a { color: #555; }
ng-view .aboutComponent div.block a:hover { text-decoration: none; }

/* Image */
ng-view .aboutComponent div.block img { display: block; margin: 30px auto 10px auto; max-width: 100%; }