#
# Synopsy PHP Framework (c) by Webdesign Studio s.r.o.
# 
# Synopsy PHP Framework is licensed under a
# Creative Commons Attribution 4.0 International License.
#
# You should have received a copy of the license along with this
# work. If not, see <http://creativecommons.org/licenses/by/4.0/>.
#
# Any files in this application that are NOT marked with this disclaimer are
# not part of the framework's open-source implementation, the CC 4.0 licence
# does not apply to them and are protected by standard copyright laws!
#

#
# @author Michal Sukupčák <sukupcak@webdesign-studio.sk>
#

# ---------------------------------------------------------------------------- #
# Always search for index.php in any directory
DirectoryIndex index.html

# ---------------------------------------------------------------------------- #
# This section can be used to force HTTPS connection. Enable by removing
# the hash (#) comments from lines 27, 29 and 30.
# Enable rewriting mod
#RewriteEngine on
# Force HTTPS/SSL connection
#RewriteCond %{SERVER_PORT} 80 
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
