/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 9, 2015, 2:11:24 PM
    Author     : bloodspell
*/

/* -------------------------------------------------------------------------- */
/* Generator component */

ng-view .generatorComponent {}
ng-view .generatorComponent { background: white; color: #444; padding: 20px; }
ng-view .generatorComponent #inputs {}
ng-view .generatorComponent #inputs paper-input { max-width: 320px; width: 100%; }
ng-view .generatorComponent #inputs paper-input-decorator { max-width: 320px; width: 100%; }
ng-view .generatorComponent #inputs paper-checkbox { margin: 20px 0 10px 0; }
ng-view .generatorComponent #inputs paper-checkbox::shadow #ink[checked] { color: #1E86BD; }
ng-view .generatorComponent #inputs paper-checkbox::shadow #checkbox.checked { background: #1E86BD; color: #1E86BD; }
ng-view .generatorComponent #buttons { margin: 20px auto auto auto; max-width: 320px; }
ng-view .generatorComponent #buttons paper-button {}
ng-view .generatorComponent #buttons paper-button#generate { background: #1E86BD; color: white; }

/* Paper dialog */
paper-action-dialog {}
paper-action-dialog p { text-align: justify; }
paper-action-dialog p#password { background: #E5E5E5; border: 1px solid #CCC; padding: 10px; text-align: center; overflow: auto; }
paper-action-dialog paper-button {}
paper-action-dialog paper-button[affirmative] { color: #1E86BD; }
paper-action-dialog paper-button[dismissive] {}