<!--
    Generator component

    Author: Michal Sukupčák <sukupcak@webdesign-studio.sk>
-->
<div ng-init="init(true)" class="generatorComponent">

    <!-- Input fields -->
    <div class="inputs" vertical layout>
        
        <!-- Alias -->
        <paper-input ng-model="alias" label="Alias"></paper-input>
        
        <!-- Secret - As text -->
        <paper-input ng-model="secret" ng-show="visibleSecret" label="Secret"></paper-input>
        
        <!-- Secret - As password -->
        <paper-input-decorator ng-show="!visibleSecret" label="Secret">
            <input type="password" ng-model="secret">
        </paper-input-decorator>
        
        <!-- Checkboxes -->
        <ng-x-checkbox
            ng-model="showSecret"
            ng-click="toggleSecret()"
            ng-x-title="Show secret"
            ng-x-true="Secret is visible, click again to hide it."
            ng-x-false="Secret is hidden, will become visible after clicking on the checkbox."
        ></ng-x-checkbox>
        <ng-x-checkbox
            ng-model="saveSecret"
            ng-click="showWarning()"
            ng-x-title="Save secret"
            ng-x-true="Secret will be save in browser's web storage."
            ng-x-false="Secret will not be saved anywhere."
        ></ng-x-checkbox>
            
        <!--
        <paper-checkbox ng-click="toggleSecret()" label="Show secret"></paper-checkbox>
        <paper-checkbox ng-model="save" ng-click="showWarning()" id="save" label="Save secret in browser local storage"></paper-checkbox>
        -->
        
    </div>
    
    <!-- Buttons -->
    <div class="buttons" horizontal around-justified layout>
        <paper-button ng-click="clear()" raised flex>Clear data</paper-button>
        <paper-button ng-click="generate()" id="generate" raised flex>Generate</paper-button>
    </div>
    
    <!-- Toast notification -->
    <paper-toast></paper-toast>
    
    <!-- Warning dialog -->
    <paper-action-dialog id="warning" heading="WARNING" layered="false" backdrop>
        <p>Storing your secret in local storage means your secret may become visible to anyone with physical access to your computer! Please make sure you only keep this setting checked on your personal and secure computer. Using the Clear data button will remove this setting and saved secret from local storage.</p>
        <paper-button affirmative>I underestand the risks</paper-button>
    </paper-action-dialog>
    
    <!-- Password dialog -->
    <paper-action-dialog id="password" heading="Your password:" layered="false" backdrop>
        <p id="password"><span>{{password}}</span></p>
        <p>You can now select your password and copy it to your clipboard. Also, if you're on a publicly accessible computer, don't forget to clear the generator form before you leave the page!</p>
        <paper-button dismissive>Close</paper-button>
        <paper-button ng-click="clear()" affirmative>Close & Clear</paper-button>
    </paper-action-dialog>
    
</div>