/*
    Author: Michal Sukupčák <sukupcak@webdesign-studio.sk>
*/

/* -------------------------------------------------------------------------- */
/* Generator component */
ng-view .generatorComponent { margin: 20px auto; max-width: 320px; padding: 0 20px; }

/* Inputs */
ng-view .generatorComponent div.inputs {}
ng-view .generatorComponent div.inputs paper-input {}
ng-view .generatorComponent div.inputs paper-input-decorator {}

/* Checkboxes */
ng-view .generatorComponent div.inputs core-label paper-checkbox::shadow #ink[checked] { color: #1E86BD; }
ng-view .generatorComponent div.inputs core-label paper-checkbox::shadow #checkbox.checked { background: #1E86BD; border-color: #1E86BD; color: #1E86BD; }

/* Buttons */
ng-view .generatorComponent div.buttons { margin: 20px auto auto auto; max-width: 320px; }
ng-view .generatorComponent div.buttons paper-button {}
ng-view .generatorComponent div.buttons paper-button { background: white; }
ng-view .generatorComponent div.buttons paper-button#generate { background: #1E86BD; color: white; }

/* Paper dialog */
paper-action-dialog { max-width: 768px; }
paper-action-dialog p { text-align: justify; }
paper-action-dialog p#password { background: #E5E5E5; border: 1px solid #CCC; padding: 10px; text-align: center; overflow: auto; }
paper-action-dialog#warning paper-button[affirmative] { color: red; }
paper-action-dialog#password paper-button[affirmative] { color: #1E86BD; }