/*
    @author Michal Sukupcak <michal.sukupcak@gmail.com>
*/

/* Body background */
body {
    background: #EEE;
}

/* Apply Roboto font */
core-header-panel {
    font-family: 'RobotoDraft', sans-serif;
}

/* Style toolbar */
core-toolbar {
    color: white;
    background: #1E86BD;
}

/* Back arrow */
core-icon.backArrow {
    cursor: pointer;
    margin: 0 10px 0 0;
}

/* Info icon */
core-icon.infoIcon {
    cursor: pointer;
}