/*
    Checkbox directive css.

    Author: Michal Sukupcak <sukupcak@webdesign-studio.sk>
*/

/* Labels and checkboxes */
core-label.checkbox { cursor: pointer; margin: 20px 0 10px 0; padding: 5px 10px; }
core-label.checkbox paper-checkbox { margin: 0 15px 0 0; width: 20px; }
core-label.checkbox div.title { font-weight: bold; }
core-label.checkbox div.description { margin: 5px 0 0 0; }